/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Tajawal:wght@400;500;700&display=swap');

@layer base {
  body {
    @apply font-poppins;
  }
  
  [dir="rtl"] body {
    @apply font-tajawal;
  }
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}